#liFinal img {
	position: relative;
	top: -5px;
	left: 5px;
}
#topNav .menuImg{
	position: fixed;
}

/*    STEP ONE */
#stepOne .indent {
	margin-left: 20px;	
}
#stepOne h1 {
	background: url('../images/shapeH1_1.png') no-repeat left top;
	width: 366px;
	height: 63px;
	
}
#stepOne h4 {
	margin-left:235px;
}
#stepOne .character {
	position: absolute;
	top: -117px;
	right: 96px;
}
#stepOne .man {
	background: url('../images/bubbleMan_1.png') no-repeat left top;
	width: 174px;
	height: 104px;
	top: -200px;
	right: 307px;
	padding-top: 12px;
}
#stepOne .bully {
	background: url('../images/bubbleBully_1.png') no-repeat left top;
	width: 204px;
	height: 156px;
	top: -254px;
	right: 77px;
	padding-top: 7px;
}
#stepOne .bubble {
	display: inline;
}
/*    STEP TWO */
#stepTwo .indent {
	margin-left: 20px;	
}
#stepTwo {
	background: #bc2123;
}
#stepTwo h1 {
	background: url('../images/shapeH1_2.png') no-repeat left top;
	width: 378px;
	height: 64px;
}	
#stepTwo h4 {
	margin-left:185px;
}
#stepTwo .character {
	position: absolute;
	top: -144px;
	right: 107px;
}
#stepTwo .man {
	background: url('../images/bubbleMan_2.png') no-repeat left top;
	background-position-x: 16px;
	width: 215px;
	height: 74px;
	top: -181px;
	right: 287px;
	padding-top: 15px;
}

#stepTwo span  {
	margin-left: 124px;
}

#stepTwo .bully {
	background: url('../images/bubbleBully_2.png') no-repeat left top;
	background-position-x: 28px;
	width: 364px;
	height: 159px;
	top: -286px;
	right: 100px;
	
}


/*    STEP THREE */
#stepThree {
	background: #eb4f13;
}
#stepThree .indent {
	margin-left: 20px;	
}
#stepThree h1 {
	background: url('../images/shapeH1_3.png') no-repeat left top;
	width: 401px;
	height: 63px;
}	
#stepThree h4 {
	margin-left:255px;
}
#stepThree .carrot {
	font-size: 12px;
}
#stepThree .character {
	position: absolute;
	top: -138px;
	right: 57px;
}
#stepThree .man {
	background: url('../images/bubbleMan_3.png') no-repeat left top;
	background-position: 0 50%;
	width: 189px;
	height: 105px;
	top: -220px;
	right: 285px;
	padding-top: 16px;
}
#stepThree .bully {
	background: url('../images/bubbleBully_3.png') no-repeat left top;
	background-position: 0 50%;
	width: 225px;
	height: 107px;
	top: -241px;
	right: 56px;
	padding-top: 11px;
}

/*    STEP FOUR */
#stepFour {
	background: #bc2123;
}
#stepFour .indent {
	margin-left: 20px;	
}
#stepFour h1 {
	background: url('../images/shapeH1_4.png') no-repeat left top;
	width: 376px;
	height: 64px;
}	
#stepFour h4 {
	margin-left: 270px;
}
#stepFour .character {
	position: absolute;
	top: -137px;
	right: 88px;
}
#stepFour .man {
	background: url('../images/bubbleMan_4.png') no-repeat left top;
	background-position-x: 0;
	width: 115px;
	height: 78px;
	top: -204px;
	right: 287px;
	padding-top: 8px;
}
#stepFour .bully {
	background: url('../images/bubbleBully_4.png') no-repeat left top;
	background-position-x: 0;
	width: 213px;
	height: 133px;
	top: -255px;
	right: 72px;
	padding-top: 15px;
}


/*    STEP FIVE */
#stepFive {
	background: #eb4f13;
}
#stepFive .indent {
	margin-left: 20px;	
}
#stepFive h1 {
	background: url('../images/shapeH1_5.png') no-repeat left top;
	width: 356px;
	height: 63px;
}	
#stepFive h4 {
	margin-left:200px;
}
#stepFive .carrot {
	font-size: 12px;
}
#stepFive .character {
	position: absolute;
	top: -56px;
	right: 71px;
}
#stepFive .man {
	background: url('../images/bubbleMan_5.png') no-repeat left top;
	background-position-x: 0;
	width: 164px;
	height: 79px;
	top: -137px;
	right: 269px;
	padding-top: 17px;
}
#stepFive .bully {
	background: url('../images/bubbleBully_5.png') no-repeat left top;
	background-position-x: 0;
	width: 231px;
	height: 139px;
	top: -206px;
	right: 90px;
	padding-top: 15px;
	}
#stepFive .bullyWall {
	position: absolute;
	top: -244px;
	right: 372px
}
/*    STEP SIX */
#stepSix {
	background: #bc2123;
	//margin-top: -102px;
}
#stepSix h5 {
 font-family: 'sheldon_featherregular', sans-serif;
 font-size: 36px;
 line-height: 1em;
 color: #181919;
 position: relative;
 width: 400px;
 padding: 10px 62px;
 z-index: 40;
}
#stepSix h3 {
	font-size: 60px;
	color: #181919;
	width: 600px;
	padding: 110px 150px;
	position: relative;
	margin-top: -115px;
	z-index: 20;
	font-family: 'sheldon_featherregular', sans-serif;
}
#stepSix h3 strong {
	color: #bc2123;
}
#stepSix .endaskilti {
	position: absolute;
	top: 20px;
	left: 50px;
}

#stepRead{
	width: 500px;
	padding: 25px;
}

#stepRead h1 {
	font-family: 'sheldon_featherregular', sans-serif;
	color: white;
	font-size: 54px;
	position: absolute;
	padding-left: 8px;
	
}
#stepRead h2, h4, .lesaMeira {
	font-family: 'sheldon_featherregular', sans-serif;
	position: relative;
}
#stepRead h2 {
	margin-bottom: -30px;
	font-size: 24px;
	line-height: 0.9em;
}
#stepRead h4 {
	margin-top: 50px;
	font-size: 22px;
	line-height: 1em;
}
#stepRead .lesaMeira {
	font-size: 24px;
	line-height: 0.9em;
}
#stepRead ul {
	list-style-image: url('../images/bullit.png');
}
#stepRead li {
	font-family: 'pluto_sanscond_medium', sans-serif;
	font-size: 16px;
	line-height: 1.4em;
	color: white;
}
#stepRead .lesa {
	font-family: 'pluto_sanscond_medium', sans-serif;
	font-size: 14px;
	line-height: 1.4em;
}
#stepRead .carrot {
	font-family: 'pluto_sanscond_medium', sans-serif;
	font-size: 13px;
	line-height: 1em;
	background: url('../images/carrot.png') no-repeat left top;
	position: absolute;
	left: -13px;
	width: 488px;
	height: 53px;
	padding: 7px 0 0 170px;
	overflow: hidden;
}